<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSC353 Final Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="row" style="height: 30px;"></div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8"> 
          <h1>Sound Mate Spotify</h1>
          playlist to analyze:
          <input type="text">
        </div>
        <div class="col-2"></div>
      </div>
    </div>

  </body>

  <script>
    var tournamentQueryData;

    function fetchPlayerData() {
      let playerName = document.getElementById("name").value;
      let searchParams = "/player?" + new URLSearchParams({ name: playerName });

      const responsePromise = fetch(searchParams, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });
      responsePromise.then(
        // Fulfilled
        async (response) => {
          document.getElementById("player-table").style.visibility = "visible";
          populatePlayerTable(await response.json());
        },
        // Error
        (error) => {
          alert("Cannot obtain player information");
        }
      );
    }

    function fetchTournamentData() {
      let tournamentYear = document.getElementById("tourn_date").value;
      let searchParams =
        "/tournament?" + new URLSearchParams({ tourn_date: tournamentYear });

      const responsePromise = fetch(searchParams, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });
      responsePromise.then(
        // Fulfilled
        async (response) => {
          document.getElementById("tournament-table").style.visibility =
            "visible";
          tournamentQueryData = await response.json();
          populateTournamentTable(tournamentQueryData);
        },
        // Error
        (error) => {
          alert("Cannot obtain tournaments");
        }
      );
    }

    function fetchAggregateStatistics() {
      let name = document.getElementById("player-name").value;
      let startDate = document.getElementById("start-date").value;
      let endDate = document.getElementById("end-date").value;
      let searchParams =
        "/statistics?" +
        new URLSearchParams({
          player_name: name,
          start_date: startDate,
          end_date: endDate,
        });

      const responsePromise = fetch(searchParams, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });
      responsePromise.then(
        // Fulfilled
        async (response) => {
          document.getElementById("statistics-table").style.visibility =
            "visible";
          populateStatsTable(await response.json());
        },
        // Error
        (error) => {
          alert("Cannot obtain tournaments");
        }
      );
    }

    function populatePlayerTable(results) {
      const playerTableBody = document.getElementById("player-table-body");

      results.forEach((element) => {
        let row = document.createElement("tr");
        const cell = document.createElement("td");
        for (attribute in element) {
          const cell = document.createElement("td");
          const cellText = document.createTextNode(element[attribute]);
          cell.appendChild(cellText);
          row.appendChild(cell);
        }
        playerTableBody.appendChild(row);
      });
    }

    function populateTournamentTable(results) {
      const tournamentTableBody = document.getElementById(
        "tournament-table-body"
      );
      tournamentTableBody.innerHTML = "";
      results.forEach((element) => {
        let row = document.createElement("tr");
        const cell = document.createElement("td");
        for (attribute in element) {
          const cell = document.createElement("td");
          const cellText = document.createTextNode(element[attribute]);
          cell.appendChild(cellText);
          row.appendChild(cell);
        }
        tournamentTableBody.appendChild(row);
      });
    }

    function sortTournamentDataByAttribute(attribute, direction) {
      if (tournamentQueryData != undefined) {
        const tournamentTableBody = document.getElementById(
          "tournament-table-body"
        );
        if (direction == "asc") {
          tournamentQueryData.sort(function (a, b) {
            if (a[attribute] > b[attribute]) {
              return 1;
            }
            if (a[attribute] < b[attribute]) {
              return -1;
            }
            return 0;
          });
        } else {
          tournamentQueryData.sort(function (a, b) {
            if (b[attribute] < a[attribute]) {
              return -1;
            }
            if (b[attribute] < a[attribute]) {
              return 1;
            }
            return 0;
          });
        }
        populateTournamentTable(tournamentQueryData);
      }
    }

    function populateStatsTable(results) {
      const statsTableBody = document.getElementById("statistics-table-body");
      let row = document.createElement("tr");
      const cell = document.createElement("td");
      results[0].forEach((element) => {
        for (attribute in element) {
          const cell = document.createElement("td");
          const cellText = document.createTextNode(element[attribute]);
          cell.appendChild(cellText);
          row.appendChild(cell);
        }
      });
      statsTableBody.appendChild(row);
    }
  </script>
</html>
