<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSC353 Final Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>

  <body onload()="getPlaylistNames()">
    <div class="container-gx0">
      <!-- <div class="row" style="height: 30px;"></div> -->
      <div class="row" id='title'> <h1>Sound Mate Spotify</h1></div>
      <div class="row" id='w'>
        <div class="col-2"></div>
        <div class="col-8">
          Choose which playlsit to analyze:
          <div class="dropdown">
            <button class="dropbtn">Select</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row" id="nav-bar">
        <ul>
          <li><a href="#gen">General</a></li>
          <li><a href="#dance">Danceability</a></li>
          <li><a href="#valence">valence</a></li>
          <li><a href="#liveness">Liveness</a></li>
          <li><a href="#energy">Energy</a></li>
          <li><a href="#speechiness">Speechiness</a></li>
        </ul>
      </div>
      <div class="row" id='content'>
        <div id="gen">
          <h2>General Overview</h2>
        </div>
        <div class="row" id="dance">
          <div class="col" id="d1">
            <h2>Danceability</h2>
          </div>
          <div class="col" id="d2">sdf</div>
        </div>
        <div class="row" id="valence">
            <div class="col" id="v1">
              <h2>Valence</h2>
            </div>
            <div class="col" id="v2">ff</div>
        </div>
        <div class="row" id="liveness">
          <div class="col" id="l1">
            <h2>Liveness</h2>
          </div>
          <div class="col" id="l2"></div>
        </div>
        <div class="row" id="energy">
          <div class="col" id="e1">
            <h2>Energy</h2>
          </div>
          <div class="col" id="e2">ff</div>
        </div>
        <div class="row" id="speechiness">
          <div class="col" id="s1">
            <h2>Speechiness</h2>
          </div>
          <div class="col" id="s2"></div>
        </div>
      </div>
    </div>

  </body>

  <script>
    	function getPlaylistNames() {
		const responsePromise = fetch("/playlist?name", {
			// get all the names in playlist table"
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				populateList(await response.json())
			},
			// Error
			(error) => {
				alert("Cannot obtain playlists")
			})
		console.log('testing that it works for non list');
	}
  </script>
</html>
